[2014-08-22 21:23] yegor256 opened #1 "first version"

[2014-08-22 22:13] #1 closed, assigned to nobody

[2014-08-29 17:20] yegor256 opened #2 "escape EOL in SSH.escape()"
`SSH.escape()` should escape EOL and similar symbols

[2014-08-29 17:25] #2 closed, assigned to nobody

[2014-09-12 02:43] carlosmiranda opened #3 "Broken link in README.md"
In `README.md`, line 8 is as follows:

[code]

The link is broken. It should be `http://ssh.jcabi.com/index.html`.

[2014-09-23 11:51] #3 closed, assigned to nobody

[2014-10-04 13:10] krzyk opened #4 "SSHD should have a stop method"
Currently after running SSHD there are stale ssh deameons running in the system.

[2014-10-07 19:42] #4 closed, assigned to nobody

[2014-10-29 02:23] carlosmiranda opened #5 "Prevent SSHD from being started multiple times"
While working on https://github.com/yegor256/thindeck/issues/401 with the [Thindeck](https://github.com/yegor256/thindeck/) project, I found that it's possible to call `sshd.start()` multiple times without having to invoke `stop()`.

I think this is incorrect - we should only allow each `SSHD` instance to be started if it's not currently running. `IllegalStateException` should be thrown if `start(

[2014-10-29 02:29] carlosmiranda opened #6 "SSHD.start() Javadoc is misleading"
In the Javadoc for [SSHD.start()](http://ssh.jcabi.com/apidocs-1.1/com/jcabi/ssh/SSHD.html#start%28%29), it says:

This is wrong. `SSHD.start()` has a return type of `void`; it's actually `SSHD.port()` that needs to be called to get the port number. Let's correct this.

[2014-10-30 07:20] zhaozhiming opened #7 "Could use jcabi-ssh to scp files?"
Could use jcabi-ssh to scp files? if yes, please give some example code, thank you.

[2014-10-30 14:43] #7 closed, assigned to nobody

[2014-10-31 10:16] yegor256 opened #8 "SSHD as a closeable resource"

[2014-10-31 11:51] #5 closed, assigned to yegor256

[2014-10-31 11:52] #6 closed, assigned to yegor256

[2014-10-31 13:14] #8 closed, assigned to nobody

[2014-11-05 10:50] krzyk opened #9 "Missing infomration about SSHD file requirements"
`SSHD` requires following files to exist, but it doesn't state that in documentation:
- authorized_keys
- id_rsa
- ssh_host_rsa_key

Files have to be in com.jcabi.ssh package

[2014-11-06 14:00] #9 closed, assigned to nobody

[2014-11-20 11:15] yegor256 opened #10 "SSHD.connect()"
let's create a new method `connect` in `SSHD` class, which will return an instance of `Shell`

[2014-11-27 11:06] #10 closed, assigned to lthuangiang

[2014-12-14 20:29] yegor256 opened #12 "more constructors of SSH class"

[2014-12-14 21:09] #12 closed, assigned to nobody

[2014-12-23 04:39] templefox opened #13 "Is pom.xml correct? Maven error"
It can't be proxy problem.
Can you offer a jar release.

[code]

[2015-01-08 16:39] maurezen opened #14 "Copyright section is outdated"
Copyright sections still feature 2014 as a year.

[2015-01-21 22:58] maurezen opened #15 "Qulice configuration - no license specified."
1. Checkout master branch
2. run `mvn qulice:check -Pqulice`
3. There are multiple `Line does not match expected header line of ' * BSD License'. (HeaderCheck)` messages.

This is a known bug of qulice configuration in parent-0.31 (jcabi/jcabi-parent#19), accessed via jcabi-0.16. Suggested action is waiting until jcabi/jcabi#297 fix is released and upgrading jcabi version.

[2015-01-25 17:26] dpisarenko opened #16 "Build fails under Windows 7"
`mvn clean install -Pqulice` produces following error under Windows 7:

[code]

[2015-01-25 18:25] yegor256 commented on #16
@dpisarenko looks like it's a problem with your Internet connection, try to run again

[2015-01-25 18:48] dpisarenko commented on #16
@yegor256 You're right, the second time I ran it, it worked.

[2015-01-25 18:48] #16 closed

[2015-01-28 09:35] ryaninfo opened #17 "Please package the library as an OSGI bundle."
The MANIFEST.MF file in an OSGI bundle would be like this：
----------------------------------------------------------------------
Manifest-Version: 1.0
Export-Package: com.vmware.vim25;uses:="javax.jws,javax.xml.bind,javax
 .xml.bind.annotation,javax.xml.datatype,javax.xml.namespace,javax.xml
 .ws"
Tool: Bundlor 1.0.0.RELEASE
Bundle-Vendor: VMware
Bundle-Version: 1.0.0
Bundle-Name: ws-vim25
Bundle

[2015-01-28 09:38] yegor256 commented on #17
@ryaninfo thanks for suggestion, I'll try to do it today and you'll test

[2015-02-09 08:35] gdomanguera commented on #17
+1 for the osgi package, also waiting for the response

[2015-04-07 07:15] dmarkov opened #18 "Estimate project size"
There is no estimate in the project yet. We have to create one as explained [here](https://github.com/teamed/est)

[2015-04-07 09:30] dmarkov opened #19 "1.5"
Please, publish a new release **1.5** (or higher). Don't forget to update us here regularly (at least once a week), as explained in [this article](http://www.yegor256.com/2015/05/11/software-architect-responsibilities.html).

[2015-04-07 11:44] dmarkov opened #20 "Indie tech review no.1"
Review our existing source code and all other technical artifacts and report at least 8 bugs. More about such reviews you can read [here](http://www.yegor256.com/2014/12/18/independent-technical-reviews.html). The task will be closed once we have that bugs reported and classified. Don't forget to add `itr` tag to each of them.

[2015-04-16 12:37] doggie1989 opened #21 "Support username password login."

[2015-05-05 07:16] dmarkov commented on #21
@doggie1989 I will ask someone to take care of this task soon

[2015-05-12 07:06] dmarkov commented on #19
@yegor256 The task description has been changed (see above). If there are concerns or objections, please give them to me right now. If not, please use the new version of the task description

[2015-05-14 07:56] dmarkov commented on #19
@yegor256 The task description has been changed (see above). If there are concerns or objections, please give them to me right now. If not, please use the new version of the task description

[2015-05-22 08:38] doggie1989 commented on #21
@dmarkov

Firstly,Thank you very much.
Any further information about this issue?

[2015-06-01 06:29] dmzaytsev opened #22 "private key passphrase"
It would be great to add ability to use the private key passphrase
like Jsch http://epaul.github.io/jsch-documentation/javadoc/
`public void addIdentity(String prvkey, byte[] passphrase)`

[2015-06-01 08:37] dmarkov commented on #20
@yegor256 Closed, done, thanks all

[2015-06-01 08:37] #20 closed

[2015-06-04 09:36] dmarkov commented on #18
@yegor256 Thanks all, closed

[2015-06-04 09:36] #18 closed

[2015-06-04 09:36] dmarkov commented on #19
@yegor256 Thanks all, closed

[2015-06-04 09:36] #19 closed

[2015-06-10 10:42] YamStranger opened #23 "Build failed on windows with lots of EOL violations"
@dmarkov Looks like we need to add .gitattributes to force EOL of the repo.

[2015-06-15 07:39] dmarkov commented on #14
@yegor256 dispatch this issue please

[2015-06-15 07:39] dmarkov commented on #15
@yegor256 dispatch this issue please

[2015-06-15 07:39] dmarkov commented on #22
@yegor256 please do something about this issue

[2015-06-15 07:39] dmarkov commented on #23
@yegor256 please do something about this issue

[2015-06-16 22:10] yegor256 commented on #14
@maurezen fixed, thanks

[2015-06-16 22:10] #14 closed

[2015-06-16 22:29] YamStranger commented on #23
@yegor256. It is known problem, qulice fail if default system EOF not like in linux. So we need add .attributes to repository for force setting Unix-like end of line to git repository.
AppVeyor use linux like EOF.
This repository will not build successfully if you install git, install maven, clone repo and just build.
Here is some examples of same problem at different repositories:
This is issue s

[2015-06-18 09:37] dmarkov commented on #21
@suseika could you please pick this up? This [article](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) explains how we work. Any technical questions you may ask right here. The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-06-18 12:52] Suseika commented on #21
@yegor256 Am I allowed to change the existing API? In order to implement this task, I would like to redesign calls to `new SSH(host, port, user, key);` to be `new SSHWithPasswd(host, port, user, password)` and `new SSHWithKey(host, port, user, key)`. Otherwise there is no clean way to add the functionality required by this issue.

[2015-06-18 17:43] yegor256 commented on #21
@Suseika let's leave the current class named as `SSH` and create a new one `SSHByPassword`

[2015-06-18 19:44] Suseika commented on #21
@yegor256 Okay.

[2015-06-19 10:20] Suseika opened #24 "Wrong example of SSHD usage in README.md"
Readme suggests using `SSHD` class like this:

[code]

However, `SSHD() ` no-arguments constructor doesn't exist. The only constructor is `SSHD(File path)`.

Either the readme has to be fixed, or the consturctor implemented.

[2015-06-20 07:48] Suseika commented on #21
@dmarkov Please review #25

[2015-06-22 07:13] dmarkov commented on #21
@suseika I will take a look, thanks

[2015-06-22 11:05] dmarkov commented on #24
@yegor256 please do something about this issue

[2015-06-22 19:26] yegor256 commented on #24
@Suseika fixed in 34f440f

[2015-06-22 19:26] #24 closed

[2015-06-22 22:33] yegor256 commented on #23
@YamStranger fixed in https://github.com/jcabi/jcabi-ssh/commit/fd9c9ca01eb82db6d49fe7e58365a02f25ee00c3

[2015-06-22 22:33] #23 closed

[2015-06-24 16:27] Suseika commented on #21
@doggie1989 Hey, I implemented login with password in #25, please see and close the issue if you're satisfied with the implementation.

[2015-06-25 07:58] dmarkov commented on #21
@rultor @doggie1989 please take a look, rultor closed it automatically

[2015-06-26 12:23] dmarkov opened #27 "SSH.java:70-72: This class has common data,..."
Puzzle `21-74327cdd` in `src/main/java/com/jcabi/ssh/SSH.java:70-72` has to be resolved: This class has common data, implementation of exec() and constructor validations with SSHByPassword class. Common functionality should be extracted into a separate module.... The puzzle was created by Suseika on 22-Jun-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-06-26 12:23] dmarkov commented on #21
@doggie1989 3 puzzles were created here: `21-74327cdd`/#27, `21-5047b140`, `21-40f93421`

[2015-06-26 12:58] dmarkov opened #28 "SSHByPasswordTest.java:63-65: SSH server setup in this..."
Puzzle `21-5047b140` in `src/test/java/com/jcabi/ssh/SSHByPasswordTest.java:63-65` has to be resolved: SSH server setup in this class is nearly identical to the one in {@link SSHTest}. It should be extracted in a separate reusable module.... The puzzle was created by Suseika on 22-Jun-2015.

If you have any technical questions, don't ask me, submit new tickets instead

[2015-06-27 20:18] doggie1989 commented on #21
Hi guys, I will test it very soon.

[2015-06-29 08:47] dmarkov opened #29 "SSHTest.java:164-167: EchoCommand and EchoCommandCreator are duplicated..."
Puzzle `21-40f93421` in `src/test/java/com/jcabi/ssh/SSHTest.java:164-167` has to be resolved: EchoCommand and EchoCommandCreator are duplicated in SSHTest and SSHByPasswordTest, these duplicates should be extracted into package com.jcabi.ssh.mock under src/main/java, renamed to MkCommandCreator/MkCommand and unit-tested.... The puzzle was created by Suseika on 22-Jun-2015.

If you have any techni

[2015-07-02 11:09] Suseika commented on #21
@doggie1989 Are you going to test the feature?

[2015-07-03 12:09] dmarkov commented on #21
@suseika this task is in your hands for 15 days already; -30 to your rating, your total score is [+248](http://www.netbout.com/b/35381?open=rating)

[2015-07-03 13:01] Suseika commented on #21
@dmarkov What am I supposed to do if the author of the issue isn't going to accept the solution and close the task? I reported that I implemented what had to be implemented, he replied that he'll test very soon and then he disappeared. What did I do wrong?

[2015-07-03 16:56] Suseika commented on #21
@yegor256 The author of the task seems to have lost interest in it. It is implemented in #25 and merged, can you close this issue?

[2015-07-03 16:58] yegor256 commented on #21
@rultor release, tag is `1.5`

[2015-07-03 16:58] yegor256 commented on #21
@Suseika sure, thanks!

[2015-07-03 16:58] Suseika commented on #21
@dmarkov I'm done here.
@yegor256 Thanks.

[2015-07-03 16:59] rultor commented on #21
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/4308-118392492)

[2015-07-03 16:59] doggie1989 commented on #21
function is ok now. tested.

[2015-07-03 17:05] rultor commented on #21
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/4308-118392492) (took me 6min)

[2015-07-03 20:23] yegor256 commented on #21
@doggie1989 @Suseika thanks all!

[2015-07-06 07:11] dmarkov commented on #21
@yegor256 only @doggie1989 can close this issue, since he opened it

[2015-07-06 14:16] Suseika commented on #21
@doggie1989 Sorry, we have some issues here. Please close this task manually once again.

[2015-07-06 14:16] Suseika commented on #21
@dmarkov I need more time here.

[2015-07-06 22:54] yegor256 commented on #21
@dmarkov close it pls

[2015-07-07 08:17] dmarkov commented on #21
@suseika right, take your time and thanks for informing

[2015-07-07 08:17] #21 closed

[2015-07-07 08:17] dmarkov commented on #21
@yegor256 issue closes as you just asked

[2015-07-07 08:19] yegor256 commented on #15
@maurezen fixed in a5bf49c thanks

[2015-07-07 08:19] #15 closed

[2015-07-07 09:25] Suseika commented on #21
@dmarkov In case this information has been lost in this long conversation, the task has been solved by me in #25. Please pay.

[2015-07-08 10:11] dmarkov commented on #21
@suseika Many thanks! **30 mins** were added to your account in Transaction ID `AP-623488186N336464K` (task took 455 hours and 53 mins)... added +30 to your rating, now it is equal to [+323](http://www.netbout.com/b/35381?open=rating)

[2015-07-21 12:13] guzzard commented on #22
I made a pull request to add support for pass phrase. Please review pull request #30.

[2015-07-24 22:37] davidhtien commented on #7
Could this example be explained in more detail? I don't really see what's going here. Also I want to scp a byte array that is currently stored in memory would that be possible?

[2015-09-10 13:54] dmarkov commented on #27
@kpbird This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here; Total fixed cost of this task is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for more info)

[2015-09-14 19:08] kpbird commented on #27
@dmarkov issue fixed please check pull request

[2015-09-15 13:43] dmarkov commented on #27
@kpbird OK, thanks, will take a look soon

[2015-09-23 08:05] dmarkov commented on #28
@prondzyn please pick this up, and keep in mind [these instructions](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Any technical questions - ask right here... The budget of this task is **30 mins**. This is exactly how much time will be compensated, when the task is completed. Read about our [Definition of Done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2015-09-25 21:39] prondzyn commented on #28
@dmarkov PR prepared

[2015-09-28 08:33] dmarkov commented on #27
@kpbird check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 17 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck. do not forget that you should remove the `@todo

[2015-09-29 07:07] dmarkov commented on #28
@prondzyn OK thanks. in the future, would be great to mention the name of the pull request, for traceability

[2015-09-29 07:19] prondzyn commented on #28
@dmarkov will remember :)

[2015-09-29 17:26] prondzyn commented on #28
@dmarkov changes merged

[2015-09-30 08:13] dmarkov commented on #28
@prondzyn thanks :)

[2015-10-01 08:50] dmarkov commented on #27
@kpbird it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle

added -60 to your rating, now it is equal to [-180](http://www.netbout.com/b/35593?open=rating)

[2015-10-02 12:38] dmarkov commented on #28
@yegor256 Thanks all, I am closing

[2015-10-02 12:38] #28 closed

[2015-10-02 12:39] dmarkov commented on #28
@prondzyn paid, thanks, added **30 mins** to your account, payment `AP-0H11150236122211C`, 194 hours and 38 mins was spent... +30 added to your rating, current score is: [+60](http://www.netbout.com/b/35715?open=rating)

[2015-10-19 08:21] lordofthejars opened #33 "Invalid private key generated with OpenSSH"
I am trying to use a private key generated with OpenSSH, but I always get an invalid private key exception. I am using Java8 and jcabi-ssh 1.5.
The private key is (it is for testing purposes):

[code]

And the code I am using:

[code]

Anything that I am going wrong, do I need another dependency?

[2015-10-22 08:41] dmarkov commented on #33
@yegor256 please do something about this issue

[2015-10-23 04:34] yegor256 commented on #33
@lordofthejars looks correct to me. what exactly do you see? can you post stacktrace here?

[2015-10-24 14:52] lordofthejars commented on #33
Sorry for being a bit late, JavaOne thing hehehe:

[code]

[code]

[2015-11-02 12:50] lordofthejars commented on #33
Any idea? Maybe I need to install something?

[2015-11-10 07:02] dmarkov commented on #27
@olegsimanov the task is for you now, follow [these guidelines](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). Don't hesitate to ask any technical questions right here... Budget here is **30 mins** (keep [this principle](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind)

[2015-11-10 21:12] olegsimanov commented on #27
Honestly I don't understand this task really.
Should I review changes made by @kpbird in this commit https://github.com/kpbird/jcabi-ssh/commit/2f5c0736069e27409d682eabf10a3129ecb4a966 or should I perform my own refactoring?

[2015-11-16 21:37] grexe opened #34 "add support for "-y" option to ignore unknown host warning"
It's quite common that you connect to a server for the first time, and you get the "unknown host" warning:

   The authenticity of host '1.2.3.4 can't be established.
   ...
   Are you sure you want to continue connecting (yes/no)?

This is a serious problem, because you get an interactive prompt that makes the jcabi library fail because it cannot establish a connection:

    java.io.IOException:

[2015-11-17 20:02] olegsimanov opened #35 "Looks like common data is already extracted"
It looks like common data is already extracted by @kpbird here: https://github.com/kpbird/jcabi-ssh/commit/2f5c0736069e27409d682eabf10a3129ecb4a966
Should I perform my own refactoring anyway?

[2015-11-23 10:09] dmarkov commented on #34
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2015-11-23 10:09] dmarkov commented on #35
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2015-11-25 09:00] dmarkov commented on #27
@olegsimanov the ticket is with you for 15 days already. If it is not finished in the next 48 hours, it will be re-assigned to someone else, see [No Obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle, [this article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck; do not forget to remove the TODO puzzle from the source code;

[2015-11-28 19:04] yegor256 commented on #34
@grexe we already solve this problem, see https://github.com/jcabi/jcabi-ssh/blob/1.5/src/main/java/com/jcabi/ssh/SSH.java#L260 and [EasyRepo](https://github.com/jcabi/jcabi-ssh/blob/1.5/src/main/java/com/jcabi/ssh/EasyRepo.java). I think that there is some other problem on your side.

[2015-11-28 19:06] yegor256 commented on #35
@olegsimanov I don't understand this ticket at all... what is the problem? see this: http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html

[2015-11-28 19:06] #35 closed

[2015-11-29 21:57] grexe commented on #34
I see - thanks for the info, I seem to have overlooked this, sorry.

[2015-11-30 08:25] dmarkov commented on #27
@olegsimanov it takes too long. Usually, we expect any task to be finished in less than a week. I'll assign someone else. Please stop working with it right now. See our [no obligations](http://www.xdsd.org/2014/04/13/no-obligations-principle.html) principle... -60 added to your rating, at the moment it is: [-120](http://www.netbout.com/b/35927?open=rating)

[2015-12-10 21:46] JLLeitschuh opened #36 "Use to SCP from local host to remote?"
Is it possible to use this library to SCP a file from your local machine to a remote machine?

The only library that seems to do this well is [JSch](http://www.jcraft.com/jsch/examples/ScpTo.java.html) which seems like a beast of a library to try to understand and use.

[2015-12-10 23:59] JLLeitschuh opened #37 "SSHByPassword and SSH does not support MDNS host addresses"
[code]

This is a valid SSH host address.

---

# Workaround

Thanks to this [stackoverflow post](http://stackoverflow.com/a/15788605/3708426).

[code]

[2015-12-14 08:38] dmarkov commented on #36
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2015-12-14 08:38] dmarkov commented on #37
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2015-12-14 20:37] yegor256 commented on #37
@JLLeitschuh definitely a bug, we'll try to fix it ASAP, thanks for reporting!

[2015-12-14 20:39] yegor256 commented on #36
@JLLeitschuh no, it's not possible to do use SCP with jcabi-ssh, but this is how we're copying files, in another project, using jcabi-ssh: https://github.com/yegor256/rultor/blob/master/src/main/java/com/rultor/agents/daemons/Script.java#L65-L73

[2015-12-15 00:34] jasw opened #38 "Whats the best way to stream the output?"
Hi there,

The shell.exec interface can take a outputStream to get the returning response,

[code]

I have used a few different OutputStream implementations trying to be able to read the output as the output comes in.  I could easily pipe the output into input stream, but I found I could not read from input until the output is finished.

As an example, thinking if we are executing a long running o

[2015-12-15 04:42] jasw commented on #38
It turns out once I use the piped in/out stream with another thread, I could get 'live' streaming response back.

Just post my example here in case some one else needs it

[code]

[2015-12-18 08:19] dmarkov commented on #38
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2015-12-18 11:33] yegor256 commented on #38
@jasw thanks for submitting it and your example. please, close the issue (you're the author, it's better if you do it). thanks!

[2015-12-23 13:56] dmarkov commented on #37
@jrdalpra this task is for you, keep [these principles](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) in mind, and don't hesitate to ask any technical questions; The budget of this issue is **30 mins**, which is exactly how much will be paid when the task is *done* (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-12-23 16:34] jrdalpra commented on #37
@JLLeitschuh the issue is already solved as you can see here https://github.com/jcabi/jcabi-ssh/blob/master/src/main/java/com/jcabi/ssh/SSHByPassword.java#L91

It was solved by this commit https://github.com/jcabi/jcabi-ssh/commit/41dfaee1b1641a43836bb36a618ec76cb123d467#diff-b22a1bfa40970bf76b871237ca10029b

I think the issue can be closed.

Are you using the lastest version of jcabi-ssh?

Thanks

[2015-12-24 10:02] jrdalpra commented on #37
@JLLeitschuh can you see if the problem was solved?

@dmarkov @yegor256 A got no answer from @JLLeitschuh. What can I do?

[2015-12-25 11:12] yegor256 commented on #37
@jrdalpra let's wait a little bit, at least a week

[2015-12-25 23:49] jrdalpra commented on #37
@yegor256 what about this http://at.teamed.io/policy.html#22?

[2015-12-29 19:06] jrdalpra commented on #37
@JLLeitschuh  @dmarkov  @yegor256 can we close now?

[2015-12-29 19:07] jrdalpra commented on #27
@dmarkov it's issue is assigned to me at netbout. Should I work on it?

[2015-12-30 06:31] yegor256 commented on #37
@rultor release, tag is `1.5.1`

[2015-12-30 06:33] rultor commented on #37
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/6110-167945331)

[2015-12-30 06:38] rultor commented on #37
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/6110-167945331) (took me 5min)

[2015-12-30 07:33] dmarkov commented on #27
@jrdalpra This task is yours, please go ahead keeping in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If any questions, don't hesitate to ask right here. Task's budget is **30 mins** (see [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html) for explanation)

[2015-12-30 12:00] jrdalpra commented on #37
@yegor256 @dmarkov @JLLeitschuh  can you close the issue, please?

[2015-12-30 12:21] jrdalpra commented on #27
@dmarkov ok. doing.

[2015-12-30 13:56] jrdalpra commented on #27
@dmarkov PR https://github.com/jcabi/jcabi-ssh/pull/39 is waiting for someone to review. Thanks.

[2015-12-30 21:39] yegor256 commented on #37
@JLLeitschuh please, try version 1.5.1, we believe that it will work without a problem

[2015-12-31 07:42] dmarkov commented on #27
@jrdalpra np :)

[2015-12-31 16:11] HackerDM opened #40 "Unable to SSHByPassword using the given code"
Hi
I have been trying to get this code working for the past 5-6 hrs but I have had no success so far. Kindly help me resolve this issue. I am working on eclipse and I want to ssh into my raspberry pi using SSHByPassword. I downloaded the jcabi-ssh-1.5-jar-with-depencies.jar. Running my code with this gives me the error :

SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defa

[2016-01-02 19:58] JLLeitschuh commented on #37
Sorry, I'll update when I get a chance. We are about to do our release to 4000 FIRST Robotics Teams. Things are kind of hectic right now.

Off topic:
@yegor256 I enjoy reading your blog. I don't necessarily agree with everything but you make some good points.
And the code behind this library is solid.

[2016-01-02 21:18] jrdalpra commented on #37
@JLLeitschuh <https://github.com/JLLeitschuh> can you close the issue?

On Saturday, January 2, 2016, Jonathan Leitschuh <notifications@github.com>
wrote:

--
José Volmei Dal Prá Junior - (49) 9112 9359
Bacharel em Ciência da Computação - UnoChapecó
Pós-Graduado em Desenvolvimento de Software Com Java - Unoesc Xxe
Consultor Java e TotalCross
https://github.com/jrdalpra
http://www.kombo.com.br/meuc

[2016-01-04 08:31] dmarkov commented on #40
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-01-04 11:19] jrdalpra commented on #37
@yegor256 @dmarkov @JLLeitschuh can someone close this issue? I think it's solved and can be opened again if the problem continues to happen. Thanks.

[2016-01-04 12:07] yegor256 commented on #37
@JLLeitschuh pls close this ticket. and thanks for reading the blog )

[2016-01-04 16:03] yegor256 commented on #40
@HackerDM the code looks correct. I suspect, there is not SSHD on port 22 in your Pi. could this be the case?

[2016-01-04 23:22] HackerDM commented on #40
I can SSH directly using terminal. So SSHD is running on port 22 in my pi.

[2016-01-05 11:20] jrdalpra commented on #37
@yegor256 @dmarkov can't you close the issue? Seems that @JLLeitschuh  is having problems to close it.

[2016-01-05 11:21] jrdalpra commented on #27
@dmarkov PR was merged. Can you close the issue? Thanks.

[2016-01-05 13:51] yegor256 commented on #37
@dmarkov pls close it

[2016-01-05 18:08] jrdalpra commented on #37
@yegor256 @dmarkov I solved the issue at the same day that it was assigned to me, but it's not closed yet. There was no problem with my solution because I just have tested and I saw that everything was ok. The issue's author not closed it right after my solution. My points will be calculated looking for the day that I delivered the solution or the day the issue will be closed. Thanks.

[2016-01-05 23:51] JLLeitschuh commented on #37
I mean I see no reason why this wouldn't work.
I haven't had the opportunity to test it yet and probably won't until next week.
Anyways, nice job guys.

[2016-01-05 23:51] #37 closed

[2016-01-06 08:34] dmarkov commented on #37
@yegor256 it is closed already

[2016-01-06 13:50] jrdalpra commented on #37
@dmarkov can you remove the issue at netbout (were can I see how the process of closing issues at netbout works?)

[2016-01-06 13:52] jrdalpra commented on #27
@dmarkov can you close? :) thanks

[2016-01-07 07:43] dmarkov commented on #27
@jrdalpra sure, will do right after the next deployment cycle

[2016-01-07 10:54] #27 closed

[2016-01-07 10:54] dmarkov commented on #27
@yegor256 Closing this issue now...

[2016-01-07 10:56] dmarkov commented on #27
@jrdalpra Thanks for your contribution, **30 mins** was added to your account, payment ID is `AP-1GS90901FW705825D`, 285 hours and 35 mins spent total... +30 to your rating, your total score is [+128](http://www.netbout.com/b/36044?open=rating)

[2016-01-07 10:56] dmarkov commented on #37
@jrdalpra I just added **30 mins** to your account, many thanks for your contribution (AP-2DM15155RJ530392Y).. 330 hours and 39 mins spent here... +30 added to your rating, at the moment it is: [+158](http://www.netbout.com/b/36044?open=rating)

[2016-01-07 11:09] jrdalpra commented on #27
@dmarkov thanks

[2016-01-07 11:09] jrdalpra commented on #37
@dmarkov @yegor256 see my message at netbout, please. thanks.

[2016-01-07 12:12] dmarkov commented on #27
@jrdalpra np :)

[2016-01-07 12:12] dmarkov commented on #37
@jrdalpra sure, you are welcome

[2016-02-01 07:35] dmarkov commented on #29
@nikoladespotoski can you please help? Keep in mind [this](http://www.xdsd.org/2014/04/17/how-xdsd-is-different.html). If you have any technical questions, don't hesitate to ask right here. The cost of this task is **30 mins** (this is exactly how much will be paid, not less not more), when the task is [done](http://www.xdsd.org/2014/04/15/definition-of-done.html)

[2016-02-04 08:56] herusdianto opened #42 "How To Keep SSH Alive"
Thankyou for this great library Sir.

I have some questions, here is my flow:
1. I connect to **server A** via **SSH**.
2. After connected, then I want to connect to **server B** using **netcat** with this command: **netcat -q -1 host port**.
3. Then I send data to server B for **log on** (ISO 8583).
4. I send data to server B for **echo test** (ISO 8583).
5. I send data to server B **continuously

[2016-02-08 08:10] dmarkov commented on #42
@yegor256 dispatch this issue please, see [par.21](http://at.teamed.io/policy.html#21)

[2016-02-09 00:59] yegor256 commented on #42
@herusdianto I think you just need to not close the InputStream and keep pushing data there. Also, don't close the OutputStream and keep reading from there. That should work, provided your server command don't quit and keeps running.

[2016-02-16 07:42] dmarkov commented on #29
@nikoladespotoski this task is in your hands for 15 days already... do not forget to remove the TODO puzzle from the source code... -30 to your rating, your total score is [+340](http://www.netbout.com/b/36438?open=rating)

[2016-02-16 07:44] NikolaDespotoski commented on #29
@dmarkov assign someone else

[2016-02-16 10:00] dmarkov commented on #29
@nikoladespotoski someone else will help in this task, no problem at all

[2016-02-16 12:01] dmarkov commented on #29
@amihaiemil the task is yours please proceed

[2016-02-16 18:02] amihaiemil commented on #29
@dmarkov  I created PR #43 for this issue.

[2016-02-19 11:02] dmarkov commented on #29
@amihaiemil thanks

[2016-02-24 16:15] mherb63 opened #44 "How to set retries and timeouts using SSHByPassword"
Thank you for this concise tool, but how do I override these:

   @RetryOnFailure(
        attempts = Tv.SEVEN,
        delay = 1,
        unit = TimeUnit.MINUTES,
        verbose = false,
        randomize = true,
        types = IOException.class
    )

[2016-02-24 20:46] amihaiemil commented on #29
@dmarkov The PR #43 for this issue was successfully merged and closed. Please close this ticket. Thanks.

[2016-02-28 13:52] mherb63 commented on #44
I would like to request that timeouts and retries be configurable

[2016-02-29 09:57] amihaiemil commented on #29
@dmarkov The PR #43 has also been deployed successfully. Please close this ticket. Thanks.

[2016-03-01 11:01] dmarkov commented on #29
@yegor256 Thanks, closed

[2016-03-01 11:01] #29 closed

[2016-03-01 11:02] dmarkov commented on #29
@amihaiemil **30 mins** added to your account (payment number `AP-06N78733HJ4287945`), many thanks for your contribution! 309 hours and 25 mins spent here.. +30 added to your rating, at the moment it is: [+15](http://www.netbout.com/b/36402?open=rating)

[2016-03-02 09:45] wcc526 opened #45 "Does jcabi-ssh support vi command?"
Does jcabi-ssh support vi command?

Can I input h+i+j+k by use jcabi-ssh?

[2016-03-04 11:05] dmarkov commented on #44
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-03-05 06:16] yegor256 commented on #44
@mherb63 where did you get it? where this code is taken from? you're expecting us to guess? :)

[2016-03-05 12:58] mherb63 commented on #44
Its from your SSHByPassword class

<pre>
public final class SSHByPassword extends AbstractSSHShell {

    /**
     * User password.
     */
    private final transient String password;

    /**
     * Constructor.
     * @param adr IP address
     * @param prt Port of server
     * @param user Login
     * @param passwd Password
     * @throws UnknownHostException If fails
     * @checkstyle Param

[2016-03-07 09:21] dmarkov commented on #45
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-03-09 04:56] yegor256 commented on #45
@wcc526 jcabi-ssh will just send whatever you provide to the SSH tunnel. this can be vi commands too. anything that you can send via a tunnel.

[2016-03-09 04:56] #45 closed

[2016-03-12 09:21] longtimeago opened #47 "README is missing Java and Maven requiremenmts"
What is the minimal Java/Maven versions to build the project?
What is the minimal Java runtime version?

Please, update the readme

[2016-03-15 10:06] dmarkov commented on #47
@yegor256 please do something about this issue

[2016-03-15 20:22] yegor256 commented on #47
@longtimeago updated in bb2ff86

[2016-03-15 20:22] #47 closed

[2016-03-16 16:51] angryjk opened #48 "SLF4J libs maven dependencies"
Hi! when i run simple app, that uses your wrapper, taking this message:
--- exec-maven-plugin:1.2.1:exec (default-cli) @ sshmaven.test ---
SLF4J: Failed to load class "org.slf4j.impl.StaticLoggerBinder".
SLF4J: Defaulting to no-operation (NOP) logger implementation
SLF4J: See http://www.slf4j.org/codes.html#StaticLoggerBinder for further details.

[2016-03-16 20:59] longtimeago opened #49 "Add todo format check to travis.yml"
It would be good to check puzzle format with travis.
Need to update `travis.yml` with:
[code]

[2016-03-17 20:35] antonevane commented on #44
Probably related discussion: https://disqus.com/by/disqus_fvTXDMDM14/

[2016-03-17 22:07] mherb63 commented on #44
yes, I posted that.  I'm just looking to control the timeouts:
1.  Connection Timeout
2.  Excec Timeout

[2016-03-21 08:29] dmarkov commented on #48
@yegor256 please dispatch this issue

[2016-03-21 08:29] dmarkov commented on #49
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-03-21 20:58] yegor256 commented on #48
@angryjk you need to add some SLF4J binding to the classpath, see http://www.slf4j.org/manual.html

[2016-03-21 20:58] #48 closed

[2016-03-21 21:06] yegor256 commented on #49
@longtimeago fixed in e73df79 thanks

[2016-03-21 21:06] #49 closed

[2016-03-30 12:17] dmarkov opened #50 "SSH.java:72-74: Refactor this class into smaller..."
Puzzle `30-15484dec` in `src/main/java/com/jcabi/ssh/SSH.java:72-74` has to be resolved: Refactor this class into smaller ones to avoid null checking of passphrase. There should probably be separate classes for encrypted/unencrypted private key.... The puzzle was created by Martin Macko on 16-Mar-2016.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be

[2016-04-04 12:02] dmarkov commented on #50
@nikoladespotoski the task is yours, go ahead

[2016-04-06 01:21] mherb63 commented on #44
Guess this one is dead...oh well.  Its been a month.

[2016-04-12 07:45] dmarkov commented on #21
@doggie1989 the last puzzle `21-40f93421`/#29 originated from here solved

[2016-04-15 16:31] MathieuGingras commented on #33
Any news on this ? I got the same error but I know the key is valid, since I use it almost everyday

[2016-04-15 16:32] lordofthejars commented on #33
No answer, I tried everything but didn't work and I decided to give up.

[2016-04-15 16:34] MathieuGingras commented on #33
Disappointed to hear this but thanks for the info !

[2016-04-15 21:06] MathieuGingras commented on #33
If it may interest others, I was able to fix my problem. It turns out that my private key need a passphrase. By switching to 2.0-snapshot, and using the new constructor (https://github.com/jcabi/jcabi-ssh/issues/50) I was able to make it work.

[2016-04-20 07:37] dmarkov commented on #50
@nikoladespotoski check this ["no obligations principle"](http://www.xdsd.org/2014/04/13/no-obligations-principle.html).. This task is on your name for at least 15 days. If you can't close it within the next 48 hours I will have to assign someone else to it. [This article](http://www.yegor256.com/2015/01/15/how-to-cut-corners.html) should help if you're stuck

do not forget to remove the TODO puzz

[2016-04-21 13:11] NikolaDespotoski commented on #50
@dmarkov assign someone else

[2016-04-22 09:22] dmarkov commented on #50
@nikoladespotoski got it, someone else will be assigned soon

[2016-07-05 15:45] plui31 opened #51 "Rredirect output to null or file"
I'm writing a small application to connect to a list of servers through SSH and execute a few commands. I'm using jcabi-ssh. When I run the program, jcabi-ssh outputs to the console with lines such as:

[code]
My code snippet is as follows:

[code]

I would like to either hide the console output or redirect it to a file. I looked through the source but it seems like I can't do it through the metho

[2016-07-11 07:27] dmarkov commented on #51
@yegor256 please pay attention to this issue ([par.21](http://at.teamed.io/policy.html#21))

[2016-07-22 20:09] yegor256 commented on #51
@plui31 you should configure your logging facility. jcabi-ssh logs all that through slf4j, which sends log lines later to log4j (or something else). just look at your log4j configuration and suppress that loggers.

[2016-07-22 20:09] #51 closed

[2016-08-08 07:26] dmarkov commented on #50
@amihaiemil the issue is yours, please help

[2016-08-09 05:48] amihaiemil commented on #50
@dmarkov I created PR #50 for this

[2016-08-09 08:43] dmarkov commented on #50
@amihaiemil thank you

[2016-08-21 15:17] amihaiemil commented on #50
@dmarkov I need more time

[2016-08-22 07:24] dmarkov commented on #50
@amihaiemil OK, no problem, take your time

[2016-08-22 12:54] vbledar opened #53 "sudo command without password required"
Hi,

Is it possible to send a sudo command without password required? What I mean is that I can execute a command to change the user, for example:

sudo /bin/change_user.sh

change_user.sh should change the user as if you executed su - username.

This command doesn't require the sudoer's password to be entered. When I send this command through the java client I get an empty response and later when

[2016-08-24 18:47] amihaiemil opened #54 "Out of date dependencies"
Dependencies related to ssh are outdated. They should be brought up to date

[2016-08-26 07:56] dmarkov commented on #53
@yegor256 take a look at this issue please and dispatch it somehow, see [par.21](http://at.teamed.io/policy.html#21)

[2016-08-29 09:02] dmarkov commented on #54
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-09-09 19:42] pbdesign opened #55 "Shell with environment Var"
Why doesn't the env var come with the connection?  When i ssh with a program env var are there but not using script?

[2016-09-13 08:26] dmarkov commented on #55
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-10-05 09:44] re1ax opened #56 "IPv6 in SSHByPassword"
Hi, Jcabi team!
Are you going to support IPv6-addresses in SSHByPassword because now we can only use IPv4-addresses.

[2016-10-10 07:51] dmarkov commented on #56
@yegor256 please take a look at it and dispatch (see [par.21](http://at.teamed.io/policy.html#21))

[2016-11-15 02:03] fdabrao opened #58 "How to interact with many commands"
Is there any way to interact with shell? Like
[code]
how to do this?

Regards

[2016-11-18 08:12] dmarkov commented on #58
@yegor256 please do something about it, see [par.21](http://at.teamed.io/policy.html#21)

[2016-11-18 16:30] yegor256 commented on #53
@vbledar this library doesn't control what happens _on the server_. All it does is connecting you with the server and sending commands there, either `sudo` or anything else. You manage permissions on the server, not on the client. Make sense?

[2016-11-21 21:00] yegor256 commented on #58
@fdabrao there is no way to do that. All environment variables live only within one session. Thus, the best you can do is:

[code]

[2016-11-21 21:00] #58 closed

[2016-11-21 21:25] fdabrao commented on #58
Hello,

I did it with Expect using session and channel and it worked.

Regards,

[2016-11-22 05:02] amihaiemil commented on #50
@dmarkov assign someone else

[2016-11-22 05:07] yegor256 commented on #56
@re1ax can you give an example of code you would like to see? I mean, how would you like to use `SSHByPassword`. We'll make it possible.

[2016-11-22 07:02] dmarkov commented on #50
@amihaiemil 30 points deducted from your rating

[2016-11-22 07:02] dmarkov commented on #50
@amihaiemil I will assign somebody else to this issue

[2016-11-22 07:21] yegor256 commented on #55
@pbdesign Can you give an example of the code you're trying to execute? (the bash code)

[2016-12-13 12:25] ioreskovic opened #59 "[Question] SFTP upload of sh script and running"
I have a relatively simple use case.

I receive an InputStream of a script on my local machine, together with the destination on the remote machine. I need to do an SFTP upload to destination, chmod it and run it via "/bin/bash".

Now, given the following API
`void transferAndRun(InputStream scriptInputStream, String destinationLocation) {
    ...
}`

I don't seem to be able to find a way to uploa

[2016-12-21 07:51] dmarkov commented on #59
@yegor256 please dispatch this issue

[2016-12-22 08:18] #50 closed

[2016-12-22 08:18] dmarkov commented on #50
@yegor256 I am closing it, thanks all

[2016-12-22 09:58] yegor256 commented on #59
@ioreskovic take a look at how we upload files, here: https://github.com/yegor256/rultor/blob/1.62.2/src/main/java/com/rultor/agents/daemons/StartsDaemon.java#L170-L205

[2016-12-22 11:18] ioreskovic commented on #59
So, to sum up, I need to do the following:

1. Try to cd to desired dir
1. a. Create it if it doesnt exist
2. Cat the contents of the input stream into a file with desired name
3. Chmod it
4. Run it

Thank you!

[2016-12-22 11:18] #59 closed

[2017-01-18 08:47] anderssv commented on #56
This fails right now:

    new Shell.Safe(new SSHByPassword(ip, 22, auth.username, auth.password));

The stack fails at `org.apache.commons.lang3.Validate.matchesPattern(Validate.java:875)` with a message of "Invalid IP address of the server".

There might be deeper issues, but it seems strange that it should fail at pattern validation.

[2017-01-30 14:45] devent commented on #7
A little bit old, but here is the explanation.

cat > %s command will read input from stdin and save it in the file %s (that will be replaced by the real file name, stored in file_name). The stdin is streamed in from the created FileInputStream(file).

[2017-02-17 16:26] rbeede commented on #34
One downside to the change made in 1.5 is that it always ignores the remote host public key now.  This opens up applications that use this library to a MitM attack.

Could this be changed as an optional setting so the default secure setting is retained?

Ideally $HOME/.ssh/known_hosts would be loaded as a default if it exists.  If not it would be nice to show example code on how to load a known ho

[2017-02-22 00:34] mherb63 opened #60 "Excessive WARN messages"
We are using this to send a bunch of commands to a Network Interface device.  For every ```exec()``` command we get one of these WARN

[code]

here's how we're using the tool:

[code]

Is there something wrong with the way we are using this tool?  Why are you trying to permanently add the IP address on each ```exec()```   I would assume that is done once when we ```new SSHByPassword```

[2017-02-22 00:34] 0crat commented on #60
@yegor256 please, pay attention to this issue

[2017-02-22 20:52] mherb63 commented on #60
Well it seems like the ChannelExec is re-established for each exec() we invoke.  Is there any way you could provide a way to keep the channel open?  Once we are done sending our exec()s we could close the channel ourselves.

[2017-04-17 21:31] #38 closed

[2017-05-02 17:39] 0crat commented on #38
Oops! Job `gh:jcabi/jcabi-ssh#38` was not in scope

[2017-05-04 16:26] pmeran opened #61 "jcabi-ssh installation"
Hi Yegor,
I very much would like to get jcabi-ssh to run. Am very new to Java and networking...

I get some NoClassDefFound error, see further below and attachment.

Is this a version incompatibility between Java and the jar file ?
Using Eclipse Neon.3 release (4.6.3) with Java version 1.8.0_121-b13
jcabi-ssh-1.5.2.jar

Hope you can help - best regards,
Paul

![jcabi-ssh screenshot](https://cloud.

[2017-05-04 16:26] 0crat commented on #61
@yegor256 please, pay attention to this issue

[2017-05-05 09:16] yegor256 commented on #61
@pmeran you need to use this JAR instead: http://repo1.maven.org/maven2/com/jcabi/jcabi-ssh/1.5.2/jcabi-ssh-1.5.2-jar-with-dependencies.jar

[2017-05-11 12:46] 0pdd opened #62 "SSH.java:72-74: Refactor this class into smaller ones..."
The puzzle `30-15484dec` in [`src/main/java/com/jcabi/ssh/SSH.java`](https://github.com/jcabi/jcabi-ssh/blob/master/src/main/java/com/jcabi/ssh/SSH.java) (lines 72-74) has to be resolved: Refactor this class into smaller ones to avoid null checking of passphrase. There should probably be separate classes for encrypted/unencrypted private key.

The puzzle was created by Martin Macko on 16-Mar-16.

[2017-05-11 12:46] 0crat commented on #62
@yegor256 please, pay attention to this issue

[2017-05-31 18:34] lubars opened #63 "shell.exec() closing System.out"
I'm opening an interactive session (in this case using bash) as follows:

[code]
After the bash session is closed (via the user typing `exit`), no further output is seen until the application exits:

[code]

I created a FilterOutputStream to see if System.out was being closed by shell.exec(), and if so whether I could circumvent it::

[code]

It prints the "Skipping close" message, so we know atte

[2017-05-31 18:34] 0crat commented on #63
@yegor256 please, pay attention to this issue

[2017-06-02 08:29] yegor256 commented on #63
@lubars this is what is happening. We're calling `setOutputStream()`
[here](https://github.com/jcabi/jcabi-ssh/blob/1.5.2/src/main/java/com/jcabi/ssh/Execution.java#L119). We provide `false` as a second parameter, which means that the stream should indeed be closed after usage: https://epaul.github.io/jsch-documentation/javadoc/com/jcraft/jsch/Channel.html#setOutputStream-java.io.OutputStream-bool

[2017-06-02 12:21] lubars commented on #63
Hi @yegor256 , thanks for your reply.  For reasons I don't understand, the `UncloseableOutputStream` workaround doesn't seem to work (even though the "Skipping close" gets printed).  Any ideas?

[2017-06-02 13:17] lubars commented on #63
Hi @yegor256 , thanks for your reply.  The reason I posted was because the `UncloseableOutputStream` technique wasn't working for me, but now that I'm using it for all three streams things are working well:

[code]

Since this technique works, I don't think the library needs to be modified; if you were to make a change, I'd suggest modifying the library to set `dontClose` to `true` when it detects

[2017-06-02 13:17] #63 closed

[2017-06-02 13:17] 0crat commented on #63
Oops! Job `gh:jcabi/jcabi-ssh#63` was not in scope

[2017-06-06 18:39] lubars commented on #7
Also effective:

`String.format("tee %s", SSH.escape(file_name))`

This has the advantage that you can prepend `sudo` if desired.

[2017-06-19 07:56] yegor256 commented on #60
@mherb63 it's not possible in current design. Each `exec()` works with its own connection/session. This is how it is designed. If you need something more fine-grained, use [jSch](http://www.jcraft.com/jsch/) directly.

[2017-06-19 07:57] yegor256 commented on #60
@mherb63 also, you can get rid of that warning through .ssh configuration file: https://stackoverflow.com/a/19733924/187141

[2017-07-20 03:50] lubars opened #64 "interactive shell not blocking on shell input"
When I open an interactive session like this, some interactive prompts acts as if they've encountered EOF:

[code]

Example: "yum install httpd"

[code]

Other commands that require input (e.g. "rm -i foo") seem to work OK.

I tried wrapping the command in /usr/bin/script to create a valid tty, prepending TERM=xterm, and the piped input/output scheme in [this](https://github.com/jcabi/jcabi-ssh/is

[2017-07-20 03:50] 0crat commented on #64
@yegor256 please, pay attention to this issue

[2017-07-20 07:32] yegor256 commented on #64
@lubars I guess you just need this flag for `yum`: `-y` See https://serverfault.com/questions/442088/how-do-you-answer-yes-for-yum-install-automatically

[2017-07-20 14:19] lubars commented on #64
Hi @yegor256. In this case I have a way around it, but I'm seeing this behavior with other interactive applications, and was hoping to come up with a more general solution.  Thanks for the repy -

[2017-09-05 08:00] yegor256 opened #65 "fake shell"
Let's create a fake shell for testing purposes.

[2017-09-05 08:01] 0crat commented on #65
Job `gh:jcabi/jcabi-ssh#65` assigned to @yegor256, please go ahead ([policy](http://datum.zerocracy.com/pages/policy.html)).

[2017-09-05 08:01] 0crat commented on #65
+15 points just awarded to @yegor256, total is [+2910](http://www.0crat.com/u/yegor256).

[2017-09-05 11:42] yegor256 commented on #65
@rultor release, tag is `1.6`

[2017-09-05 11:43] rultor commented on #65
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12907-327151081)

[2017-09-05 11:50] rultor commented on #65
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/12907-327151081) (spent 7min)

[code]

[2017-09-05 11:54] yegor256 commented on #65
@rultor release, tag is `1.6`

[2017-09-05 11:55] rultor commented on #65
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/12907-327153251)

[2017-09-05 12:23] rultor commented on #65
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/12907-327153251) (took me 28min)

[2017-09-05 12:24] #65 closed

[2017-09-05 12:24] 0crat commented on #65
Job `gh:jcabi/jcabi-ssh#65` is now out of scope.

[2017-09-05 12:24] 0crat commented on #65
+30 points just awarded to @yegor256, total is [+3000](http://www.0crat.com/u/yegor256).

[2017-11-05 01:47] LoranceChen opened #66 "Is the library support use byte stream to receive response?"
Hi, my work consider command which maybe a long time task.So, I want display the process before it complete. That means get response stream to a callback rather a String type.

I want ensure is the library support the feature?Thanks

[2017-11-05 01:47] 0crat commented on #66
@yegor256 please, pay attention to this issue

[2017-11-13 20:09] yegor256 commented on #66
@LoranceChen yes, of course, you can do that. Just provide your own `InputStream` to us and keep reading from it.

[2017-11-14 12:52] LoranceChen commented on #66
got it ;-)

[2017-11-14 12:53] #66 closed

[2017-11-14 12:53] 0crat commented on #66
Oops! There is no order for job `gh:jcabi/jcabi-ssh#66`.

[2017-11-14 12:53] 0crat commented on #66
Oops! Job `gh:jcabi/jcabi-ssh#66` is not in scope.

[2017-11-19 11:09] rgl commented on #34
this issue is not really solved until there's a way to properly validate the server host key (e.g. by specifying a known_hosts file content or letting the client implement the jsch HostKeyRepository interface)

[2018-01-04 02:35] wdquan1985 opened #68 "Algorithm negotiation fail when connect the server"
When I execute the following code, there are a Algorithm negotiation fail exception.
`Shell shell = new SSH(serverIP, 22, userName, password);
String stdout = new Shell.Plain(shell).exec("echo 'Hello, world!'");`

The following is the error info.
java.io.IOException: com.jcraft.jsch.JSchException: Algorithm negotiation fail
	at com.jcabi.ssh.SSH.session(SSH.java:272)
	at com.jcabi.ssh.AbstractSSHS

[2018-01-04 02:35] 0crat commented on #68
@yegor256 please, pay attention to this issue

[2018-01-04 02:49] wdquan1985 commented on #68
`Shell shell = new SSH(serverIP, 22, userName, password);
 String stdout = new Shell.Plain(shell).exec("echo 'Hello, world!'");`
The password is a private key:
`    	String password= "-----BEGIN RSA PRIVATE KEY-----" + "\n" +
"MIIEowIBAAKCAQEA+wQzLRBZB+/2EKdGF+eezckkbz3+ahROnxJr8rx9VhbyQvf3" + "\n" +
"T9CQz1mWaY3czdgHFRcESsC1bumfUMxO3z1bkfk/mcWBh9vPS6sRDqb+zj8BypIE" + "\n" +
"bOC4YtclKQjH6dJ0avBrE

[2018-01-04 02:52] wdquan1985 commented on #68
When I use a URL which define the private key file. the same error.
`URL keyUrl = new URL("file:/u/bwang018/.ssh/privateKey");`
`shell = new SSH(serverIP,22,userName,keyUrl);`
`String stdout = new Shell.Plain(shell).exec("ifconfig");`

[2018-01-04 06:15] wdquan1985 commented on #68
If I only use the following dependency which is used by the jcabi project, there is no connection error.
`<dependency>`
   		`<groupId>com.jcraft</groupId>`
   		`<artifactId>jsch</artifactId>`
   		`<version>0.1.54</version>`
`</dependency>`

The test code:
              `JSch jsch = new JSch();
	       Properties config = new Properties();
		config.put("StrictHostKeyChecking", "no");
		jsch.addI

[2018-01-04 20:38] vlohana commented on #68
wdquan1985  - As per your above comment
The test code:

 For JDK_1.8_131 it runs swiftly but when I use version above  > JDK_1.8_131 I get this error
Anyone else facing the similar issue.

I even tried updating the /etc/ssh/sshd_config and restarted on the linux machine I want to access but I am still getting the
[code]

Can anyone help on this ? please

[2018-01-08 19:18] yegor256 commented on #68
@wdquan1985 I don't know what's going on. I think we should report it to jSch and see what they say.

[2018-01-10 02:14] wdquan1985 commented on #68
@vlohana @yegor256 ,my java version is:
C:\windows\system32>java -version
java version "1.8.0_92"
Java(TM) SE Runtime Environment (build 1.8.0_92-b14)
Java HotSpot(TM) 64-Bit Server VM (build 25.92-b14, mixed mode)

[2018-02-11 18:22] JohnyGorsky opened #69 "Proxy?"
Does this framework supports adding proxy for SSH connection?

[2018-02-11 18:23] 0crat commented on #69
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-02-12 15:30] yegor256 commented on #69
@JohnyGorsky what is "proxy" in this context?

[2018-03-05 16:15] Lordan commented on #64
@yegor256 any plans to work on this? I run into problems as well with a rather verbose command which prompts for an input and I couldn't find a way to send the needed input at the right moment. Any example how to read the output until the prompt appears and respond with e.g. 'Y' would be very welcome.

[2018-03-22 07:48] orenbigel opened #70 "Session timeout is hard coded to 10s"
SSH connection might take more that 10 seconds to connect.
The SSH class has 10s TO hard coded:
session.setServerAliveInterval(
    (int) TimeUnit.SECONDS.toMillis(Tv.TEN)

Could there be another SSH constructor that has an argument for the session TO ?

e.g.
public SSH(final String adr, final String user, final String priv, final sessionTO)

[2018-03-22 07:49] 0crat commented on #70
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-02 07:57] alihamza001 opened #71 "what is example.com? I didn't get it."
explain what should i use in place of example.com?

[2018-04-02 07:57] 0crat commented on #71
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-02 07:57] 0crat commented on #71
@alihamza001[/z](https://www.0crat.com/u/alihamza001) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9V6HBZQS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-04-05 14:25] yegor256 commented on #71
@alihamza001 you should use the address of your server. If you are connecting to the local machine, use `localhost`.

[2018-04-05 14:25] #71 closed

[2018-04-05 14:40] 0crat commented on #71
The job is not in WBS, won't close the order

[2018-04-13 06:29] laurafchen commented on #68
same error as @vlohana,  anyone have insights

com.jcraft.jsch.JSchException: Algorithm negotiation fail
	at com.jcraft.jsch.Session.receive_kexinit(Session.java:590)
	at com.jcraft.jsch.Session.connect(Session.java:320)
	at com.jcraft.jsch.Session.connect(Session.java:183)

[2018-04-13 09:26] vlohana commented on #68
My Issue got resolved as I did following to resolve

1. Updated JDK to JDK 1.8_161
2. Updated the JCE with Unlimited Strength (googling the same can help)
3. Removed any firewall policy like services iptables stop

That resolved my issue

[2018-04-18 17:52] sheebadhanaraj opened #72 "Shell session Management"
https://stackoverflow.com/questions/37618060/shell-session-management-in-jcabi-ssh

This related to above stackflow question.
Is there a way to keep ssh session open and run multiple commands and close ourselves the session

[2018-04-18 17:52] 0crat commented on #72
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-04-18 17:52] 0crat commented on #72
@sheebadhanaraj[/z](https://www.0crat.com/u/sheebadhanaraj) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9V6HBZQS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-15 00:24] jimengliu opened #73 "security is broken when temporary private key file won't get deleted if exception thrown"
After using jcabi-ssh for a while, I noticed a lot of private key files inside /tmp folder. This poses significant security issues.

The problem is in session() function (in file src/main/java/com/jcabi/ssh/Ssh.java). The temporary private key file was constructed first, but it won't get deleted when there is exception thrown. Because the line to delete the file

Files.deleteIfExists(file.toPath()

[2018-06-15 04:28] yegor256 commented on #73
@rultor release, tag is `1.6.1`

[2018-06-15 04:31] rultor commented on #73
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14931-397510076)

[2018-06-15 04:50] rultor commented on #73
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14931-397510076) (took me 19min)

[2018-06-15 05:24] #73 closed, assigned to nobody

[2018-06-15 05:40] 0crat commented on #73
Job `gh:jcabi/jcabi-ssh#73` is not assigned, can't get performer

[2018-06-15 05:40] 0crat commented on #73
The job is not in WBS, won't close the order

[2018-06-15 21:32] jimengliu commented on #73
@yegor256 Oh, I do see here http://central.maven.org/maven2/com/jcabi/jcabi-ssh/1.6.1/, but no link from https://mvnrepository.com. So, I am OK now. Thanks!

[2018-06-28 09:31] aneevreddy opened #74 "Is Jcabi-ssh compatible with Jersey?"
Hi,

I am work on Java rest services [Jersey]. Is Jcabi-ssh compatible with it. I tried to work on it, i am facing the below issue "org.glassfish.jersey.server.ContainerException: Java.lang.NoClassDefFoundError: com/jcabi/ssh/Shell"

Can you help me on this.

[2018-06-28 09:31] 0crat commented on #74
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-28 09:32] 0crat commented on #74
@aneevreddy[/z](https://www.0crat.com/u/aneevreddy) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9V6HBZQS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-28 10:53] yegor256 commented on #74
@aneevreddy it is compatible, but you have to include the dependency (JAR) correctly.

[2018-06-28 10:53] #74 closed

[2018-06-28 11:10] 0crat commented on #74
The job is not in WBS, won't close the order

[2018-06-28 11:10] 0crat commented on #74
Job `gh:jcabi/jcabi-ssh#74` is not assigned, can't get performer

[2018-06-29 06:45] aneevreddy commented on #74
@yegor256 can you please provide the dependency JAR files.

[2018-06-29 06:52] yegor256 commented on #74
@aneevreddy here: http://search.maven.org/#artifactdetails%7Ccom.jcabi%7Cjcabi-ssh%7C1.6.1%7C

[2018-06-29 10:16] aneevreddy commented on #74
@yegor256
I am very new to Java. I developed rest api application by using Java Jersey. For using SSH, I converted my Jersey project to Maven. Now it is showing Build Success, i build with Maven build. Now I run the application, when i accessing from postman, it throwing below error. please help me on this.

![error](https://user-images.githubusercontent.com/22213702/42087302-5d111ebe-7bb3-11e8-8d

[2018-08-23 14:03] KasperJanssens opened #75 "Local port forwarding for Ssh seems not supported"
Hello,

I might overlook it, but it seems that local port forwarding for ssh is not supported. I want to set up an ssh tunnel through the library and for that I would need the local port forwarding feature from ssh (the '-L' option). Is it intentional or just not (yet) implemented? If it's just not implemented I could try my hand at adding it if I find a few hours.

[2018-08-23 14:04] 0crat commented on #75
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-23 14:04] 0crat commented on #75
@kasperjanssens[/z](https://www.0crat.com/u/kasperjanssens) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9V6HBZQS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-11 15:03] lucas-dehandschutter opened #76 "Jcabi throw java.net.UnknownHostException while all other service can reach my host"
I've build a small utility with spring boot that connects to some servers using jcabi-ssh to execute commands.
Here is the class executing the commands:

[code]
This applications is package in a docker image and is run using the following command in the container:

[code]
The docker image is run as a docker service and all servers i have to access to are specified using the --host parameter. If i

[2018-09-11 15:03] 0crat commented on #76
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-09-11 15:04] 0crat commented on #76
@lucas-dehandschutter[/z](https://www.0crat.com/u/lucas-dehandschutter) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9V6HBZQS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-19 10:55] yegor256 commented on #76
@lucas-dehandschutter seems to be a mistake in the host name:

[code]

[2018-09-26 03:08] ChanosWu commented on #40
I have same problem

[2018-10-08 12:55] andrey-ryoo opened #77 "Cannot connect to VM with RSA key as String"
Cannot connect to VM with RSA key because private key should have 600 permissions

[2018-10-08 12:55] 0crat commented on #77
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-10-08 12:55] 0crat commented on #77
@andrey-ryoo[/z](https://www.0crat.com/u/andrey-ryoo) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9V6HBZQS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-10-08 13:37] andrey-ryoo commented on #77
Pull request sent

[2018-10-23 20:09] j-dimension commented on #64
@j-dimension

[2018-11-04 09:10] #53 closed

[2018-12-25 16:02] yegor256 commented on #77
@andrey-ryoo This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-12-25 16:02] #77 closed

[2018-12-25 16:19] 0crat commented on #77
Job `gh:jcabi/jcabi-ssh#77` is not assigned, can't get performer

[2018-12-25 16:19] 0crat commented on #77
This job is not in scope

[2019-02-04 17:03] ankit9289 opened #80 "Turn off logging ??"
How can we turn off logs that are being generated from jcabi

[2019-02-04 17:03] 0crat commented on #80
@ankit9289[/z](https://www.0crat.com/u/ankit9289) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9V6HBZQS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-14 06:45] JianhuaGong opened #81 "Logs has the risk of exposing sensitive information"
hi, the parameter 'command' maybe contain some sensitive information, if com.jcabi.ssh.Execution$Default output it by Logger.info, it will write the log file, so sensitive information will be exposed. can you turn off the log?

[2019-02-14 06:45] 0crat commented on #81
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-14 06:45] 0crat commented on #81
@jianhuagong[/z](https://www.0crat.com/u/jianhuagong) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9V6HBZQS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-21 13:53] cfsoe opened #82 "Any chance to deploy it with jlink?"
This ssh library works really well, but now I am switching to Java 11. So I need to deploy it with jlink now, which expects modules. The following error I got when I tried deployment with jlink:

Error: automatic module cannot be used with jlink: jcabi.ssh

Any ideas?

Thanks in advance

[2019-02-21 13:54] 0crat commented on #82
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-21 13:54] 0crat commented on #82
@cfsoe[/z](https://www.0crat.com/u/cfsoe) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9V6HBZQS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-03 02:21] HuWeining opened #83 "class SSH.session create too many temp file"
Make sure the title of the issue explains the problem you are having. Also, the description of the issue must clearly explain what is broken, not what you want us to implement. Go through this checklist and make sure you answer "YES" to all points:

  - You have all pre-requisites listed in README.md installed
  - You are sure that you are not reporting a duplicate (search all issues)
  - You say

[2019-04-03 02:21] 0crat commented on #83
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-03 02:21] 0crat commented on #83
@huweining[/z](https://www.0crat.com/u/huweining) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9V6HBZQS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-03 02:31] HuWeining commented on #83
I use jcabi SSH client with the code below on a timed task.

int status =
                    new Shell.Verbose(new SSHByPassword(ip, shell.getPort(), shell.getAccount(), shell.getPassword()))
                        .exec(cmd, null, stdout, stderr);

The call frequency is about 5/s, after long time, the JVM keeps gc and the object DeleteOnExitHook hold the most of memory. under the /tmp, there ar

[2019-05-05 18:13] yegor256 commented on #83
@HuWeining this is definitely a bug in the library, let me try to fix it quickly.

[2019-05-15 15:10] yegor256 commented on #83
@HuWeining maybe you can submit a pull request? All we have to do is to delete the temp file after use, not only on exit.

[2019-05-19 10:16] dgroup opened #84 "Upgrade the cactoos dependency to the latest version as they are incompatible now"
[code]
Latest version for now is `0.41`.
The current version within jcabi-ssh is `0.16`

[2019-05-19 10:16] 0crat commented on #84
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-19 10:16] 0crat commented on #84
@dgroup[/z](https://www.0crat.com/u/dgroup) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9V6HBZQS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-11 09:10] #76 closed

[2019-06-11 09:27] 0crat commented on #76
Job `gh:jcabi/jcabi-ssh#76` is not assigned, can't get performer

[2019-06-11 09:29] 0crat commented on #76
This job is not in scope

[2019-07-04 12:36] yegor256 commented on #80
@ankit9289 they are going through SLF4j logging. You configure SLF4j the way you want and that's it.

[2019-07-04 12:36] #80 closed

[2019-07-04 14:12] 0crat commented on #80
This job is not in scope

[2019-07-04 14:12] 0crat commented on #80
Job `gh:jcabi/jcabi-ssh#80` is not assigned, can't get performer

[2019-07-30 15:17] danuvian opened #86 "How to get it working on Java 11?"
Hello.

I went to https://www.yegor256.com/2014/09/02/java-ssh-client.html#disqus_thread and tried out the code samples and it works great. I was testing it using Java 8.

However, when I tried to use it in my real project, which is using Java 11, "jdk.nashorn.tools.Shell" is not accessible. I googled it and it appears that Nashorn has been deprecated in Java 11.

I really need to get this to work

[2019-07-30 15:18] 0crat commented on #86
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-30 15:18] 0crat commented on #86
@danuvian[/z](https://www.0crat.com/u/danuvian) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9V6HBZQS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-10 10:21] yegor256 commented on #86
@danuvian good point. Do you have an idea of how to fix this? I don't... as of yet.

[2019-11-16 16:46] Cyb0rk commented on #44
A feature to define a timeout would be great. If the server is not reachable, no error is returned in 1.6.1.

[2019-11-29 09:20] soreana commented on #33
I have the same problem. It was my mistake. I forget to put "\n" ant the end of each line, in my key string.

[2020-02-18 21:37] unaor opened #87 "How to send several commands one after the other"
I understand how to create a ssh shell
Shell ssh = new SshByPassword("192.168.1.5", 22, "admin", "password");
i also understand how to run a command
String output = new Shell.Plain(ssh).exec("some command");
and i can easly analyze the output string

but how do i send in the same "shell" one command after the other

and bonus question sometimes the commands require a user confirmation ("press Y to

[2020-02-18 21:37] 0crat commented on #87
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-18 21:37] 0crat commented on #87
@unaor[/z](https://www.0crat.com/u/unaor) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/C9V6HBZQS) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-06-23 03:37] mgemmell commented on #33
Same with me, I had to edit my private key file (.ppk) to replace the \r with an \n, at the end of each line.  I did this easily in Notepad++ with Find/Replace, Extended search mode, find "\r" and replace with "\n".

[2020-08-12 06:33] jyk0708 opened #88 "springboot"
Make sure the title of the issue explains the problem you are having. Also, the description of the issue must clearly explain what is broken, not what you want us to implement. Go through this checklist and make sure you answer "YES" to all points:

  - You have all pre-requisites listed in README.md installed
  - You are sure that you are not reporting a duplicate (search all issues)
  - You say

[2020-08-12 06:34] jyk0708 commented on #88
How to use in Springboot

[2020-12-31 14:01] AleksandrSokolov commented on #86
@danuvian
It works fine for me in Java 11.
Please give more explanation about your problem.

[2022-07-04 19:21] yegor256 opened #93 "fresh release"

[2022-07-05 03:04] #88 closed

[2022-07-05 03:06] yegor256 commented on #86
@danuvian works fine for me too

[2022-07-05 03:06] #86 closed

[2022-07-05 03:08] yegor256 commented on #83
@HuWeining should be fine now

[2022-07-05 03:08] #83 closed

[2022-07-05 03:09] yegor256 commented on #70
@orenbigel I set it to one second and 1mil seconds total

[2022-07-05 03:09] #70 closed

[2022-07-05 03:15] yegor256 commented on #93
@rultor release, tag is `1.7.0`

[2022-07-05 03:15] rultor commented on #93
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26153-1174557560)

[2022-07-05 03:33] rultor commented on #93
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/26153-1174557560) (took me 18min)

[2022-07-05 03:37] #93 closed

[2022-07-22 14:29] yegor256 opened #94 "Ssh doesn't disconnect after the process goes to background"
Try this:

[code]

I think it will wait forever, but it must end immediately.

[2022-07-29 11:06] yegor256 opened #95 "extra config for JSch session"
see https://stackoverflow.com/questions/42451456/jschexception-timeout-socket-is-not-established

[2022-07-29 11:51] yegor256 commented on #95
@rultor release tag is `1.7.1`

[2022-07-29 11:52] rultor commented on #95
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26387-1199188159)

[2022-07-29 11:53] rultor commented on #95
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26387-1199188159) (spent 16s)

[code]

[2022-07-29 12:09] #95 closed

[2022-08-06 04:52] yegor256 commented on #94
@rultor release, tag is `1.8.1`

[2022-08-06 04:53] rultor commented on #94
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26435-1207146476)

[2022-08-06 04:54] rultor commented on #94
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26435-1207146476) (spent 1min)

[code]

[2022-08-06 04:59] yegor256 commented on #94
@rultor release, tag is `1.8.1`

[2022-08-06 04:59] rultor commented on #94
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26435-1207147116)

[2022-08-06 05:00] rultor commented on #94
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26435-1207147116) (spent 25s)

[code]

[2022-08-06 05:06] yegor256 commented on #94
@rultor release, tag is `1.8.1`

[2022-08-06 05:06] rultor commented on #94
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26435-1207148017)

[2022-08-06 05:07] yegor256 commented on #94
@rultor stop

[2022-08-06 05:09] rultor commented on #94
@yegor256 OK, I'll try to stop current task.

[2022-08-06 05:09] rultor commented on #94
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26435-1207148139) (spent 3min)

[code]

[2022-08-06 05:13] #94 closed

[2022-08-06 05:31] 0crat commented on #94
Job `gh:jcabi/jcabi-ssh#94` is not assigned, can't get performer

[2022-08-06 07:06] yegor256 opened #96 "com.jcraft.jsch.JSchException: socket is not established"
sometimes this happens

[2022-08-06 07:09] yegor256 commented on #96
@rultor release, tag is `1.8.2`

[2022-08-06 07:11] rultor commented on #96
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26438-1207164131)

[2022-08-06 07:45] yegor256 commented on #96
@rultor release, tag is `1.8.2`

[2022-08-06 07:56] rultor commented on #96
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26438-1207164131) (spent 45min)

[code]

[2022-08-06 12:06] yegor256 commented on #96
@rultor release, tag is `1.8.2`

[2022-08-06 12:07] rultor commented on #96
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26438-1207168597)

[2022-08-06 12:09] rultor commented on #96
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26438-1207168597) (spent 2min)

[code]

[2022-08-06 12:10] yegor256 commented on #96
@rultor release, tag is `1.8.2`

[2022-08-06 12:12] rultor commented on #96
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26438-1207203160)

[2022-08-06 12:14] rultor commented on #96
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26438-1207203160) (spent 2min)

[code]

[2022-08-06 12:16] rultor commented on #96
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26438-1207203702)

[2022-08-06 12:18] rultor commented on #96
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26438-1207203702) (spent 2min)

[code]

[2022-08-06 12:20] yegor256 commented on #96
@rultor release, tag is `1.8.2`

[2022-08-06 12:21] rultor commented on #96
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/26438-1207205153)

[2022-08-06 12:30] rultor commented on #96
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/26438-1207205153) (spent 9min)

[code]

[2022-08-06 12:33] #96 closed

[2022-08-06 12:50] 0crat commented on #96
Job `gh:jcabi/jcabi-ssh#96` is not assigned, can't get performer

[2022-08-16 16:49] ebramirez opened #97 "Replace JSCH implementation"
Replace official  (unmaintained) JSCH implementation with a current one like: https://github.com/mwiede/jsch

[2022-09-19 03:11] andreoss opened #98 "scp compabilities"
it would be nice to be able to use `scp`

[code]

[2022-09-26 03:24] andreoss opened #100 "jcabi-aspects do not work"
https://github.com/jcabi/jcabi-ssh/blob/master/src/main/java/com/jcabi/ssh/Ssh.java#L234

`Ssh` always does only one attempt

[2022-09-26 03:31] andreoss opened #101 "update jsch"
consider moving to https://github.com/mwiede/jsch
since the original jsch lacks support of openssh > 8.3

[2022-09-26 05:00] andreoss commented on #101
Duplicate of #97

[2022-09-26 05:00] #101 closed

[2022-09-26 05:18] 0crat commented on #101
Job `gh:jcabi/jcabi-ssh#101` is not assigned, can't get performer

[2022-09-26 05:56] yegor256 commented on #87
@unaor nope, it's not. This library is only for simple one-time commands. If you need a more complicated scenario, you JSch directly.

[2022-09-26 05:56] #87 closed

[2022-09-26 06:13] 0crat commented on #87
Job `gh:jcabi/jcabi-ssh#87` is not assigned, can't get performer

[2022-09-26 06:22] renovate[bot] opened #105 "Dependency Dashboard"
This issue lists Renovate updates and detected dependencies. Read the [Dependency Dashboard](https://docs.renovatebot.com/key-concepts/dashboard/) docs to learn more.

## Rate-Limited

These updates are currently rate-limited. Click on a checkbox below to force their creation now.

 - [ ] Update dependency org.slf4j:slf4j-log4j12 to v2.0.2
 - [ ] Update dependency com.jcabi:jcabi to v1.35.0
 - [ ]

[2022-09-26 16:22] yegor256 commented on #97
@rultor release, tag is `1.9.0`

[2022-09-26 16:36] rultor commented on #97
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/27137-1258302400) (took me 13min)

[2022-09-26 16:36] yegor256 commented on #97
@andreoss done, thanks!